.App {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
}

.App > * {
    flex: 1 1 160px;
}

.header {
    align-self: flex-start;
    flex-basis: 100%;
    /* background: tomato; */
}

.aside-left {
    /* background: gold; */
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: deepskyblue; */
}

.controllers {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.aside-right {
    /* background: hotpink; */
}

.footer {
    align-self: flex-end;
    flex-basis: 100%;
    /* background: lightgreen; */
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 4 0;
    }

    .aside-left {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-right {
        order: 3;
    }

    .footer {
        order: 4;
    }
}

body {
    padding: 2em;
}

/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 80px;*/
/*}*/

/*.App-header {*/
/*background-color: #222;*/
/*height: 150px;*/
/*padding: 20px;*/
/*color: white;*/
/*}*/

/*.App-title {*/
/*font-size: 1.5em;*/
/*}*/

/*.App-intro {*/
/*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*from { transform: rotate(0deg); }*/
/*to { transform: rotate(360deg); }*/
/*}*/
